.site-media {
    background-position: 50% 35%;
}

main {
    & .post-content {
        margin: 0 auto;
        
        & img {
            margin: 2em;
            width: 50%;
            float: right;
            padding: 1em;
            border: 2px solid var(--site-secondary-color);
        }

        ul {
            list-style-type: none;
            margin-left: 2em;
            padding: 0.5em;
            border-left: 1px solid var(--site-secondary-color);
        }

        & button {
            align-self: flex-end;
            margin-left: auto;
        }

        & .bottom_buttons{
            display: flex;
            margin: 0;

            & .back_to_articles {
                margin-right: auto;
                margin-left: 0;

            }

            & .go_through_articles {
                display: flex;
                align-self: flex-end;
                margin-left: 5em;
            }

            & .next, 
            & .prev {
                margin-left: 3em;

            }
        }
    }

    & p {
        margin: 1em 0 1em 0;
    }
}






