.title_container {
    background: var(--site-secondary-color);
    color: var(--site-main-color);
    padding: 1em;
    margin-left: -9em;
    margin-bottom: 3em;
    width: 20em;

    & h2 {
        text-align: center;
    }

}

button {
    padding: 0.8em;
    margin: 1em;
    background: var(--site-secondary-color);
    border: none;
    // border-radius: 10px;
     
    a {
        text-decoration: none;
        color: var(--site-main-color);
        
        & :visited {
            color:var(--site-main-color);
        }
    }
}