.title_container {
    background: var(--site-secondary-color);
    color: var(--site-main-color);
    padding: 1em;
    margin-left: -9em;
    margin-bottom: 3em;
    width: 20em;

    & h2 {
        text-align: center;
    }

}

button {
    padding: 1em;
    margin: 1em;
    background: var(--site-secondary-color);
    border: 2px solid var(--site-main-color);

    & a {
        text-decoration: none;
        color: var(--site-main-color);
        
        & :visited {
            color:var(--site-main-color);
        }

        
    }
    
    @keyframes color-change {
        0% {
            color: var(--site-secondary-color);
        }
        100% {
            color: var(--site-secondary-color);
            background: var(--site-main-color);
            border: 2px solid var(--site-secondary-color);
        }

        
    }
    
    &:hover{
        animation: color-change 0.3s forwards;

        & :visited {
            color:var(--site-secondary-color);
        }
            
    }
    
}

.button_container {
    width: 100vw;
    padding: 2em 0 1em 0;
    margin-left: 55em;

    & button {
        padding: 1em;
    }
}