body .site-media {
    padding-left: 2em;
    padding: 0;
    width: 100vw;
    height: 20em;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 2px solid gray;
    content: " ";
    margin-left: -10em;

    &::after {
        display: block;
        content: "";
        background: rgba($color: #000000, $alpha: .2);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
