footer {  
    border-top: 2px solid gray;
    font-size: 14px;
    width: 100%;
    margin-top: 2em;

    & .autor {
        margin-left: 80%;
        border-top: 1px solid rgb(185, 181, 181);
        padding: .5em;
        font-size: 12px;

    }
}
