header {
    border-bottom: 2px solid gray;

    & .logo {
        width: 10em;
        height: 5em;
    }
}

header nav button {
    align-self: flex-end;
    padding: 1em;
    margin: 1em;
    background: #1C798B;
    color:white;
    border: none;
    border-radius: 10px;
     
    
    a {
        text-decoration: none;
        
        &:visited {
            color: white;
        }
    }
}