header {
    border-bottom: 2px solid gray;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;

    & .nav {
        margin-left: auto;
    }

    & .logo {
        width: 10em;
        height: 5em;
    }
}

