header {
    border-bottom: 2px solid gray;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: rgba($color: #ffffff, $alpha: .3);
    display: flex;

    & nav {
        margin-left: auto;

        & > ul {
            display: flex !important;
        } 
    }

    & .nav-toggle-label {
        margin-left: auto;

        & button {
            color: var(--site-main-color);
        }
    }
        
}

