.page-about  {
        width: 100%;

        .entry {
            & .site-media {
                max-width: 50%;
            }
        }

        & .title_container {
            width: 15em;
        }

        & .logo_holder {
        width: 20em;
        margin-left: auto;
        float: right;

        & img {
            height: auto;
            margin: 1em;
            }   
        }

        & h1 {
            margin: 1em;
            align-self: flex-start;
        }
    
        & .info{
            margin-bottom: 2em;

            & p {
                padding: 0.5em;
            }
        }
    
}