.page-home .page-content {
    & h1 {
        padding: 1em 0 1em 0;
    }

    & .intro {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
       

        & section {
            align-items: center;
            
            & section span {
                &:hover{
                    color: rgb(15, 43, 59);
                } 
            }

            & span {
                margin: 0 auto;;
                font-size: 10em;
                padding-left: 0.5em;
                border-bottom: 5px solid var(--site-secondary-color);
            }

            & p {
                margin-top: 2em;
                border-left: 1px solid var(--site-secondary-color);
                padding-left: 2em;
                
            }
        }
    }

    
}