.page-content {
    margin: 3em 0 3em 0;

    & .articles_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    width: 80%;
    margin: 0 auto;

        & section {
            width: 100%;
            padding: 1em;
            border: 2px solid var(--site-secondary-color);
            border-radius: 5px;

            & img {
                width: 100%;
            }

            & h3 {
                margin: 1em 0 1em 0;
            }

            & p {
                font-size: 14px;
            }
        }   
    }
}
