.page-home .page-content {
    & h1 {
        padding: 1em 0 1em 0;
    }

    & .intro {
        //padding: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2em;
       

        & section {
            //width: 30%;
            align-items: center;
            

            & span {
                margin: 0 auto;;
                font-size: 10em;
                padding-left: 0.5em;
                border-bottom: 5px solid var(--site-secondary-color);
            }

            & p {
                margin-top: 2em;
                border-left: 1px solid var(--site-secondary-color);
                padding-left: 2em;
                
            }
        }
    }

    
}