@import '_typography.scss';
@import '_reset.scss';
@import '_navigation.scss';
@import '_responsive';
@import '_variables.scss';
@import '_header.scss';
@import '_footer.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0 auto;
    color: var(--site-secondary-color);
}

header, footer {
    background: var(--site-main-color);
    display: flex;
    padding: 0.5em;
}


main {
    & .site-media {
        padding: 0;
        width: 100%;
        height: 20em;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;

        &::after {
            display: block;
            content: "";
            background: rgba($color: #000000, $alpha: .2);
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

}