@import '_reset.scss';
@import '_typography.scss';
@import '_variables.scss';
@import '_responsive.scss';

@import '_navigation.scss';

@import '_elements.scss';
@import '_social.scss';
@import '_entry.scss';

@import '_header.scss';
@import '_footer.scss';

@import '_articles.scss';
@import '_page-contacts.scss'; 
@import '_page-articles.scss';
@import '_page-products.scss';
@import '_page-home.scss';
@import '_page-about.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    width: 100%;
}

body {
    margin: 0 auto;
    color: var(--site-secondary-color);
    display: block;
    width: 100%;

    & .mobile_menu {
        opacity: 0;
        position: absolute;
        //z-index: -10;
        position: fixed;
        margin-top: 5em;
        width: 0;
        z-index: 1000;
        right: 10em;

        & ul li{ 
                
                margin-left: auto;
                & button {
                    width: 10em;
                }
                
                width: 0em;
                text-align: right;
                box-shadow: none;
        }
    }

    & .nav-toggle {
        position: absolute;
        opacity: 0;
        pointer-events: none;

        &:checked  + .mobile_menu{
                opacity: 1 !important;
                display: block;
            }
       
    }
}

header, footer {
    background: rgba($color: #ffffff4f, $alpha: 0.3);
    padding: 0.5em;
    width: 100%;
}

main {
    width: 100%;
    margin: 0 auto;
    padding-top: 6em;
}

.content {
    padding: 0em 2em 0 2em;
}

.page-content, 
.post-content {
	max-width: 75rem;
	margin: 0 auto;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

