<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/icons/icomoon/style.css">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/icons/icomoon/fonts/icomoon.svg">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/css/style.css">
    <title>DESA</title>
</head>

<body class="page-{{ page.title | slugify }}">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">

    <nav class="mobile_menu">
            <ul>
                <li><button><a href="/CSS-Advanced-Project-Assignment/../">Начало</a></button></li>
                <li><button><a href="/CSS-Advanced-Project-Assignment/products.html">Продукти</a></button></li>
                <li><button><a href="/CSS-Advanced-Project-Assignment/about.html">За Texaid</a></button></li>
                <li><button><a href="/CSS-Advanced-Project-Assignment/contacts.html">Контакти</a></button></li>
                <li><button><a href="/CSS-Advanced-Project-Assignment/articles_page1.html">Статии</a></button></li>
            </ul>
    </nav>

    <header>
        <a href="/CSS-Advanced-Project-Assignment/../"><div class="logo"><strong>ДЕСА комерс</strong></div></a>
        
        
        <label for="nav-toggle" class="nav-toggle-label">Меню</label>

        <nav class="desktop_menu">
                <ul>
                        <li><button><a href="/CSS-Advanced-Project-Assignment/">Начало</a></button></li>
                        <li><button><a href="/CSS-Advanced-Project-Assignment/products.html">Продукти</a></button></li>
                        <li><button><a href="/CSS-Advanced-Project-Assignment/about.html">За Texaid</a></button></li>
                        <li><button><a href="/CSS-Advanced-Project-Assignment/contacts.html">Контакти</a></button></li>
                        <li><button><a href="/CSS-Advanced-Project-Assignment/articles_page1.html">Статии</a></button></li>
                    </ul>
        </nav>
        
    </header>

    <main>
        <site-main>
            {{ content }}
        </site-main>
    </main>
        
    <footer>
        <div class="social">
            <p><strong>Свържете се с нас: </strong></p>

            {% include _social.html location="footer" %}
        </div>

        <div class="autor">
            <p>2019 &copy ДЕСА комерс</p>
        </div>
        
    </footer>
</body>
</html>
