<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/icons/icomoon/style.css">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/icons/icomoon/fonts/icomoon.svg">
    <link rel="stylesheet" href="/CSS-Advanced-Project-Assignment/docs/css/style.css">
    <title>DESA</title>
</head>
<body class="page-{{ page.title | slugify }}">
    <header>
        <img src="../media/logo.jpg" class="logo" alt="">
        <nav>
            <button><a href="/CSS-Advanced-Project-Assignment/index.html">Начало</a></button>
            <button><a href="/CSS-Advanced-Project-Assignment/products.html">Продукти</a></button>
            <button><a href="/CSS-Advanced-Project-Assignment/about.html">За Texaid</a></button>
            <button><a href="/CSS-Advanced-Project-Assignment/contacts.html">Контакти</a></button>
            <button><a href="/CSS-Advanced-Project-Assignment/articles_page1.html">Статии</a></button>
        </nav>
        
    </header>

    <main>
        <site-main>
            {{ content }}
        </site-main>
    </main>
        
    <footer>
        <div class="social">
            <p><strong>Свържете се с нас: </strong></p>

            {% include _social.html location="footer" %}
        </div>
        
    </footer>
</body>
</html>
