<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts</title>
</head>
<body>
    <header>
        <img src="../media/logo.jpg" class="logo" alt="">
        <nav>
            <button><a href="../index.html">Начало</a></button>
            <button><a href="../products.html">Продукти</a></button>
            <button><a href="../about.html">За Texaid</a></button>
            <button><a href="../contacts.html">Контакти</a></button>
            <button><a href="../articles.html">Статии</a></button>
        </nav>
        
    </header>

    <main>
        <site-main>
            {{ content }}
        </site-main>
    </main>
        
    <footer>
        <div class="social">
            <p><strong>Свържете се с нас: </strong></p>

            {% include _social.html location="footer" %}
        </div>
        
    </footer>
</body>
</html>